<div class="container" style="height:80vh">

      <%  mygossip = Gossip.find(@id)%>
        <h3> <%= mygossip.title %></h3>
        <p> <em><%= mygossip.content %></em></p>
      
        <hr>
 
</div>