<div class="landing-div mydiv" id="mydiv">
    <h1 class="display-2 title">The gossip Project</h1>
  <p class="lead text-muted">Where you can share all about your co-workers</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-lg my-btn" href=<%=gossip_index_path%> role="button">Go to Gossips</a>
  </p>
</div>