<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banner</title>
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="_variables.scss">
  <link rel="stylesheet" href="_bootswatch.scss">
  <link rel="stylesheet" href="style.css">
</head>
<body>


  <div class="small-banner">
    <img src="https://picsum.photos/1920/1080">
    <div class="small-banner-img-shadow"></div>
    <h1 class="small-banner-text"> EVENTBRITE SAMPLE SUBTITLE</h1>
  </div>


  
</body>
</html>