<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banner</title>
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="_variables.scss">
  <link rel="stylesheet" href="_bootswatch.scss">
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div class="main-banner">
    <img src="https://picsum.photos/1920/1080">
    <div class="banner-img-shadow"></div>
    <div class="main-banner-text">
      <h1> EVENTBRITE SAMPLE TITLE</h1>
      <p> Eventbrite is a website that allows you to blablablablablablablablablablabla while you blablablablablablablablablabla</p>
      <button type="submit" class="btn btn-outline-secondary">CALL TO ACTION</button>
    </div>
  </div>

</body>
</html>