<h1 class='title'>Edit Gossip</h1>
<div class="new_gossip">
<%= form_for @gossip do |f|%>
      <h4 class='title'>Title :</h4>
      <%= f.text_field :title %><br>
      <h4 class='title'>content :</h4>
      <%= f.text_area :content%><br>
      <button type="submit" class='my-btn make-gossip-button'>Submit</button>
<%end%> 
</div>
