
<div>
  <div class="main-banner">
    <img src="https://picsum.photos/1920/1080">
    <div class="banner-img-shadow"> 
 
    </div>
    <div class="main-banner-text">
     
      <h1> EVENTBRITE </h1>
    <h2> ne passez plus vos soirées à coder </h2>
     
      <a class="btn  btn-outline-primary" href=<%=events_path%> role="button">afficher les evenements </a>
 
    </div>
  </div>
  <%= flash[:notice] %>

</div>