<%= flash[:notice] %>

<p> voici mon secret : </p>
<p> suis le lapin blanc </p>

<div class="container">
<%= image_tag "sainte-victoire-divise.jpg" %>    
  <div class="bottom-left">Bottom Left</div>
  <div class="top-left">Top Left</div>
  <div class="top-right">Top Right</div>
  <div class="bottom-right">Bottom Right</div>
  <div class="centered">Centered</div>
</div>