


<html>
  <head>
    <title>Buy cool new product</title>
  </head>
  <body>
    <form action="/create-checkout-session" method="POST">
      <button type="submit">Checkout</button>
    </form>


<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br><br><br>

 <a class="btn btn-lg my-btn" href=<%=event_index_path%> role="button">afficher les evenements </a>
    </div>
  </div>
</div>





  </body>
</html>